<div class="main">
<%= render partial: "devise/shared/header", locals: { recipe: @recipe } %>

<div class="recipe-show">
  <!--画像-->
  <div class="recipe-img-content">
    <%= image_tag @recipe.image, size: "300x250", class:"recipe-box-img" %>
  </div>

  <!--料理名-->
  <h2 class="d-name">
    ~<%= @recipe.dish%>~
  </h2>

  <!--人数-->
  <div class="persons-box">
    <div class="show-text">
      人数
    </div>
    <div class="r-persons">
      <%= @recipe.persons%>人
    </div>
  </div>

    <!--材料-->
  <div class="show-text">
      材料
  </div>
  <div class="mate-amo">
    <div class="r-material">
      <%= @recipe.material%>
    </div>

    <!--分量-->
    <div class="r-amount">
      <%= @recipe.amount%>
    </div>
  </div>

  <!--作り方-->
  <div class="show-text">
    作り方.
  </div>
  <div class="r-make-box">

    <div class="make-box">
      <div class="show-text">
        その１
      </div>
      <div class="r-make">

        <%= @recipe.make_one%>
      </div>
    </div>

    <div class="make-box">
      <div class="show-text">
        その２
      </div>
      <div class="r-make">
        <%= @recipe.make_two%>
      </div>
    </div>

    <!-- レシピ３〜４、データがあれば表示-->
    <% if @recipe.make_three.present? %>
      <div class="make-box">
        <div class="show-text">
          その３
        </div>
        <div class="r-make">
          <%= @recipe.make_three%>
        </div>
      </div>
    <% end %>

    <% if @recipe.make_four.present? %>
      <div class="make-box">
        <div class="show-text">
          その４
        </div>
        <div class="r-make">
          <%= @recipe.make_four%>
        </div>
      </div>
    <% end %>

    <% if @recipe.make_five.present? %>
      <div class="make-box">
        <div class="show-text">
          その５
        </div>
        <div class="r-make">
          <%= @recipe.make_five%>
        </div>
      </div>
    <% end %>

    <!-- レシピ３〜４、データがあれば表示-->
    <div class="make-user-box">
      <div class="recipe-contributor">
        レシピ作成者
      </div>
      <div class="recipe-user">
        <%= @recipe.user.nick_name%>さんのレシピ
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @recipe.user_id %>
    <%= link_to "レシピを編集する", edit_recipe_path(@recipe.id), method: :get, class: "recipe-red-btn"%>
    <%= link_to "レシピを削除する", recipe_path(@recipe.id),method: :delete, class:"recipe-destroy" %>
  <% end %>
</div>
<%= render partial: "devise/shared/footer"%>
</div>